
*~
.appveyor.token
*.bak
bin
.bootstrap
build
.build
build/
.cache
*,cover
.coverage
.coverage.*
coverage.xml
develop-eggs
develop-eggs/
dist
dist/
docs/_build
docs/_build/
downloads/
.DS_Store
*.egg
*.egg-info
*.egg-info/
eggs
.eggs
.eggs/
eggs/
.env
env/
htmlcov
htmlcov/
.hypothesis/
.idea
*.iml
.installed.cfg
.ipynb_checkpoints
*.komodoproject
lib
lib/
lib64
lib64/
*.log
*.manifest
*.mo
.mr.developer.cfg
nosetests.xml
output/*.html
output/*/index.html
parts
parts/
pip-delete-this-directory.txt
pip-log.txt
*.pot
.project
__pycache__/
*$py.class
*.py[cod]
.pydevproject
.pytest
.Python
pyvenv*/
sdist
sdist/
*.so
*.spec
.*.sw[po]
target/
.tox
.tox/
var
var/
.ve
venv*/
wheelhouse
