<div class="widget">
  {% if widget.title %}
    <h1 class="widget-title">{{ widget.title }}</h1>
  {% endif %}
  {% if widget.description %}
    <p class="widget-description">
      {{ widget.description|linebreaksbr }}
    </p>
  {% endif %}
  {% if widget.template %}
    {% include widget.template %}
  {% else %}
    {% for elem in widget.context %}
      {% if elem.type == 'group' %}
        <h2>{{ elem.name }}</h2>
        {% if elem.display == 'table' %}
          <div id="{{ elem.id }}" class="widget-table">
            <table class="table {{ elem.classes }}">
              <tbody>
                {% for item in elem.items %}
                  <tr id="{{ item.id }}" class="widget-item {{ item.classes }}">
                    <td class="widget-item-name">{{ item.name }}</td>
                    {% for value in item.value %}
                      <td class="widget-item-value">{{ value|linebreaksbr }}</td>
                    {% endfor %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% elif elem.display == 'list' %}
          <div class="widget-list">
            <ul class="list {{ elem.classes }}">
                {% for item in elem.items %}
                  {% if item.value|length == 1 %}
                    <li><span class="widget-item-name">{{ item.name }}</span> <span class="widget-item-value">{{ item.value.0|linebreaksbr }}</span></li>
                  {% else %}
                    <li class="widget-item-name">{{ item.name }}</li>
                    <li><ul>
                      {% for value in item.value %}
                        <li class="widget-item-value">{{ value|linebreaksbr }}</li>
                      {% endfor %}
                    </ul></li>
                  {% endif %}
                {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% elif elem.type == 'item' %}
        <div id="{{ elem.id }}" class="widget-item {{ elem.classes }}">
          {% if elem.is_chart %}
            <h2 class="widget-item-name">{{ elem.name }}</h2>
            {% for value in elem.value %}
              <div id="{% if widget.id %}{{ widget.id }}-{% endif %}{{ elem.id }}-{{ forloop.counter }}" class="widget-item-value"></div>
              <script>
                var dataset = {{ value|safe }};
                try {
                  if (dataset.tooltip.formatter) {
                    dataset.tooltip.formatter = new Function(dataset.tooltip.formatter);
                  }
                } catch (err) {
                  console.log(err);
                }
                try {
                  if (dataset.plotOptions.pie.dataLabels.style.color) {
                    dataset.plotOptions.pie.dataLabels.style.color = new Function(dataset.plotOptions.pie.dataLabels.style.color);
                  }
                } catch (err) {
                  console.log(err);
                }
                try {
                  if (dataset.plotOptions.pie.tooltip.pointFormatter) {
                    dataset.plotOptions.pie.tooltip.pointFormatter = new Function(dataset.plotOptions.pie.tooltip.pointFormatter);
                  }
                } catch (err) {
                  console.log(err);
                }
                try {
                  if (dataset.yAxis.labels.formatter) {
                    dataset.yAxis.labels.formatter = new Function(dataset.yAxis.labels.formatter);
                  }
                } catch (err) {
                  console.log(err);
                }
                $('#{% if widget.id %}{{ widget.id }}-{% endif %}{{ elem.id }}-{{ forloop.counter }}').highcharts(dataset);
              </script>
            {% endfor %}
          {% else %}
            {% if elem.value|length == 1 %}
              <p><span class="widget-item-name">{{ elem.name }}</span> <span class="widget-item-value">{{ elem.value.0|linebreaksbr }}</span></p>
            {% else %}
              <p class="widget-item-name">{{ elem.name }}</p>
              {% for value in item.value %}
                <p class="widget-item-value">{{ value|linebreaksbr }}</p>
              {% endfor %}
            {% endif %}
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
</div>
